---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import Team from '../components/Team.astro';
import CenteredSection from '../components/CenteredSection.astro';
import Navbar from '../components/Navbar.astro';

import WrappedText from '../components/text/WrappedText.astro';
import Heading from '../components/text/Heading.astro';
import HeadingBig from '../components/text/HeadingBig.astro';
import Highlight from '../components/text/Highlight.astro';
import Paragraph from '../components/text/Paragraph.astro';

import Button from '../components/Button.astro';
import Scroll from '../components/Scroll.astro';
import Cards from '../components/Cards.astro';

import GradientBlob from '../components/GradientBlob.astro';

---

<Layout title="DevLabs">
	<Header />

    <Main />

    <CenteredSection id="about" className="mb-24">
        <GradientBlob top="-450px" right="-350px" scale="1.5" />

        <div class="w-2/3 flex flex-col lg:gap-16 md:gap-12 gap-8 items-center text-center md:pt-40 md:pb-32 py-20">
            <div class="flex flex-wrap gap-2 md:justify-start justify-center">
                <WrappedText size="large" className="border-red-500 text-red-500">in-person socializing</WrappedText>
                <WrappedText size="large" className="border-orange-500 text-orange-500">1 hour/week</WrappedText>
                <WrappedText size="large" className="border-amber-500 text-amber-500">free pizza and goodies</WrappedText>
            </div>
            <Heading>we host meetings <Highlight>every week</Highlight></Heading>
            <Paragraph>this is where you will take any idea you're excited about, figure out how to bring it to life, and turn it into something that people give a shit about - alongside thousands of others.</Paragraph>
        </div>

        <div class="box-border overflow-hidden w-full">
            <Scroll direction="horizontal-right">
                <Cards items={[["project 1", "src1"], ["project 2", "src2"], ["project 3", "src3"], ["project 4", "src4"], ["project 5", "src5"]]} className='aspect-square' />
            </Scroll>
        </div>
    </CenteredSection>

    <CenteredSection id="mission" className="mb-24">
        <GradientBlob top="-450px" left="-350px" scale="1.5" />

        <div class="w-2/3 flex flex-col lg:gap-16 md:gap-12 gap-8 items-center text-center md:py-40 py-20">
            <WrappedText size="normal" className=''>what's our mission?</WrappedText>
            <Heading>we want to make computer science <Highlight>fun to learn</Highlight>.</Heading>
            <Paragraph>it's pretty simple. you pick your own idea, build it, get feedback, and iterate. alongside thousands of others. we'll provide hacks + support, but our main goal is to just get you going and make progress.</Paragraph>
            <Paragraph>all it takes is a <a href="" class="text-white underline">single click</a> to join</Paragraph>
        </div>
    </CenteredSection>

    <Team members={[["soham daga", "/team/soham.png"], ["dhravya shah", "/team/dhravya.png"], ["dhanush vardhan", "/team/dhanush.png"], ["bhoomi singhani", "/team/bhoomi.png"], ["aryan keluskar", "/team/aryan.png"]]}/>

    <CenteredSection id="join" className="md:pt-40 md:pb-52 pt-20 pb-40 overflow-hidden">
        <GradientBlob top="0" left="5%" scale="1.5" />
        <div class="w-1/2 flex flex-col lg:gap-16 md:gap-12 gap-8 items-center text-center">
            <WrappedText size="normal" className=''>first meeting on aug 26</WrappedText>
            <HeadingBig>ready to build <Highlight>awesomeness</Highlight>?</HeadingBig>
            <Button>join devlabs (takes 20s)</Button>
        </div>
    </CenteredSection>

    <Navbar />
</Layout>


