---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import Team from '../components/Team.astro';
import CenteredSection from '../components/CenteredSection.astro';
import Navbar from '../components/Navbar.astro';

import WrappedText from '../components/text/WrappedText.astro';
import Heading from '../components/text/Heading.astro';
import HeadingBig from '../components/text/HeadingBig.astro';
import Highlight from '../components/text/Highlight.astro';
import Paragraph from '../components/text/Paragraph.astro';

import Button from '../components/Button.astro';
import Scroll from '../components/Scroll.astro';
import Cards from '../components/Cards.astro';

---

<Layout title="DevLabs">
	<Header />

    <Main />

    <Team members={["soham daga", "dhravya shah", "dhanush vardhan", "bhoomi singhani", "aryan keluskar"]}/>

    <CenteredSection className="mb-24">
        <div class="w-2/3 flex flex-col gap-16 items-center text-center py-40">
            <WrappedText size="normal">what's our mission?</WrappedText>
            <Heading>we want to make computer science <Highlight>fun to learn</Highlight>.</Heading>
            <Paragraph>it's pretty simple. you pick your own idea, build it, get feedback, and iterate. alongside thousands of others. we'll provide hacks + support, but our main goal is to just get you going and make progress.</Paragraph>
            <Paragraph>all it takes is a <a href="" class="text-white underline">single click</a> to join</Paragraph>
        </div>
    
        <div class="box-border overflow-hidden w-full">
            <Scroll direction="horizontal">
                <Cards items={["project 1", "project 2", "project 3", "project 4", "project 5"]} className='aspect-square' />
            </Scroll>
        </div>
    </CenteredSection>

    <CenteredSection className="pt-40 pb-52">
        <div class="w-1/2 flex flex-col gap-16 items-center text-center">
            <WrappedText size="normal">first meeting on aug 26</WrappedText>
            <HeadingBig>ready to build <Highlight>awesomeness</Highlight>?</HeadingBig>
            <Button>join devlabs (takes 20s)</Button>
        </div>
    </CenteredSection>

    <Navbar />
</Layout>


