---
interface Props {
    items: Array<string>;
    className: string;
}

const { items, className } = Astro.props;
---

{items.map(item => (
    <div class=`w-80 border border-dashed border-gray-700 flex flex-col justify-between shrink-0 ${className}`>
        <img alt="a">
        <div class="border border-dashed border-gray-700 px-5 py-4 text-center flex justify-center items-center">
            <p class="text-base font-semibold leading-tight">{item}</p>
        </div>
    </div>
))}