---
interface Props {
    id: string;
	className: string;
}

const { id, className } = Astro.props;
---

<section id={id} class=`container mx-auto relative border border-dashed border-gray-700 flex flex-col items-center ${className}`>
    <slot />
</section>