---
interface Props {
	className: string;
}

const { className } = Astro.props;
---

<section class=`container mx-auto border border-dashed border-gray-700 flex flex-col items-center ${className}`>
    <slot />
</section>