<header class="bg-black fixed z-10 top-0 left-0 right-0 border border-dashed border-gray-700" style="background-image: url('/noise.png')">
    <div class="container mx-auto flex justify-between items-center">
        <img src="" alt="devlabs-logo" class="w-32">  
    
        <a href="" class="text-base font-semibold text-white px-6 py-4 border border-dashed border-gray-700">
            join devlabs
        </a>
    </div>
</header>