<header class="fixed z-10 top-0 left-0 right-0 border border-dashed border-gray-700">
    <div class="container mx-auto flex justify-between items-center">
        <div class="px-6">
            <img src="/logo.svg" alt="devlabs-logo" class="h-8">  
        </div>       
    
        <a href="https://asu.campuslabs.com/engage/organization/devlabs" class="hover:bg-neutral-950 transition-colors duration-200 ease-in-out text-base font-semibold text-white px-6 py-4 border border-dashed border-gray-700">
            join devlabs
        </a>
    </div>
</header>
<style>
    header {
        background-color: #090909; 
    }
</style>