<footer class="fixed bottom-0 left-0 right-0 border border-dashed border-gray-700" style="background-image: url('/noise.png')">
    <div class="container mx-auto flex justify-between p-6 border border-dashed border-gray-700">
        <nav class="flex md:gap-6 gap-4">
            <a href="#about" class="hover:text-white transition-colors duration-200 ease-in-out">about</a>
            <a href="#projects" class="hover:text-white transition-colors duration-200 ease-in-out">projects</a>
            <a href="#mission" class="hover:text-white transition-colors duration-200 ease-in-out">mission</a>
            <a href="#team" class="hover:text-white transition-colors duration-200 ease-in-out">team</a>
            <a href="#join" class="hover:text-white transition-colors duration-200 ease-in-out">join</a>
        </nav>

        <div class="flex md:gap-6 gap-4">
            <a href="mailto:hi@geekydan.dev"><img class="w-6 h-6 grayscale hover:grayscale-0 transition duration-200 ease-in-out" src="/gmail.svg" alt="email"></a>
            <a href="https://www.instagram.com/devlabs.asu/"><img class="w-6 h-6 grayscale hover:grayscale-0 transition duration-200 ease-in-out" src="/instagram.svg" alt="insta"></a>
            <a href="https://discord.gg/4XPKg2nWcj"><img class="w-6 h-6 grayscale hover:grayscale-0 transition duration-200 ease-in-out" src="/discord.svg" alt="discord"></a>
        </div>
    </div>
</footer>
<style>
    footer {
        background-color: #080808; 
    }
</style>