---
interface Props {
	members: Array<string>;
}
const { members } = Astro.props;

import Cards from '../components/Cards.astro';
import Scroll from '../components/Scroll.astro';
---

<section class="container mx-auto box-border overflow-hidden mb-24">
    <Scroll direction="horizontal">
        <Cards items={members} className='' />
    </Scroll>
</section>