---
interface Props {
	members: Array<string>;
}
const { members } = Astro.props;

import TeamCards from '../components/TeamCards.astro';
import Scroll from '../components/Scroll.astro';
---

<section class="container mx-auto box-border overflow-hidden border border-dashed border-gray-700 mb-24">
    <Scroll direction="horizontal">
        <TeamCards members={members} />
    </Scroll>
</section>