---
interface Props {
    members: Array<string>;
}

const { members } = Astro.props;
---

{members.map(member => (
    <div class="w-80 border border-dashed border-gray-700 flex flex-col" style="flex-shrink: 0;">
        <img src="" alt="a">
        <div class="border border-dashed border-gray-700 px-5 py-4 text-center">
            <p class="text-base font-semibold leading-tight">{member}</p>
        </div>
    </div>
))}