---
interface Props {
	members: Array<Array<string>>;
}
const { members } = Astro.props;

import Cards from '../components/Cards.astro';
import Scroll from '../components/Scroll.astro';
import GradientBlob from './GradientBlob.astro';
---

<section id="team" class="container mx-auto relative scroll-mt-36 box-border mb-24 border-l border-r border-dashed border-gray-700">
    <GradientBlob top="-350px" right="-450px" scale="1.5" />
    <div class="overflow-hidden">
        <Scroll direction="horizontal-left">
            <Cards items={members} className='' />
        </Scroll>
    </div>
</section>
