<form id="contact-form" action="http://localhost:3000/contact" method="POST" class="w-full flex flex-col gap-4 items-center">
    <div class="w-full flex flex-col md:flex-row gap-4">
        <input name="name" id="name" type="text" placeholder="your name" class="w-full bg-neutral-900 p-4 outline-none text-white focus:bg-stone-900">
        <input name="email" id="email" type="email" placeholder="your email" class="w-full bg-neutral-900 p-4 outline-none text-white focus:bg-stone-900">
    </div>
    <textarea name="message" id="message" placeholder="your message" class="w-full resize-none bg-neutral-900 p-4 outline-none text-white focus:bg-stone-900"></textarea>
    <button type="submit" class="mt-6 xl:text-lg text-base bg-white hover:bg-gray-300 transition-colors duration-200 ease-in-out font-semibold text-black w-max px-5 py-3">submit</button>
</form>

<script>
    import axios from "axios";

    const submitForm = () => {
        const name = (document.getElementById("name") as HTMLInputElement).value;
        const email = (document.getElementById("email") as HTMLInputElement).value;
        const message = (document.getElementById("message") as HTMLInputElement).value;

        const data = { name, email, message };
        axios.post("http://localhost:3000/contact", data);
    }

    let form = document.getElementById('contact-form') as HTMLFormElement;
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        submitForm();
    });
</script>